body {
    background: #191919;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 75%);
    overflow: hidden;
}

div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.days p{
    margin-left: 3%;
    text-transform: uppercase;
    font-size: 25px;

}

.days p:first-child{
    margin-left: 0%;
}


p,
button {
    color: #8a8a8a;
    font-family: 'Oswald', sans-serif;
}

.Current-time,
.active-day,
.active {
    color: #5ca1e1;
    text-shadow: 0 0 20px rgb(10 175 230), 0 0 12px rgb(10 175 230 / 62%);
}

button {
    background: none;
    border: none;
    cursor: pointer;

}

.Current-time {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

